@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic);
body {
  background-color: #2d2d2d;
  padding: 0 25px;
}

body h1 {
  color: #82E6FF;
  margin-top: 15%;
  text-align: center;
  font-family: 'Bad Script';
  font-size: 38pt;
  margin-bottom: 100px;
  text-align: center;
}

body .buttonDiv {
  text-align: center;
  padding-bottom: 50px;
}

body .buttonDiv .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #004047);
  background-image: -moz-linear-gradient(top, #3498db, #004047);
  background-image: -ms-linear-gradient(top, #3498db, #004047);
  background-image: -o-linear-gradient(top, #3498db, #004047);
  background-image: linear-gradient(to bottom, #3498db, #004047);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 2px #2e2e2e;
  font-family: 'Josefin Sans';
  color: #82E6FF;
  font-size: 20px;
  padding: 10px 35px 10px 35px;
  text-decoration: none;
}

body .buttonDiv .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

body .buttonDiv .btn:active {
  color: #8DEFFF;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3498db, #3cb0fd);
  background-image: -moz-linear-gradient(top, #3498db, #3cb0fd);
  background-image: -ms-linear-gradient(top, #3498db, #3cb0fd);
  background-image: -o-linear-gradient(top, #3498db, #3cb0fd);
  background-image: linear-gradient(to bottom, #3498db, #3cb0fd);
}

.mainBody {
  background-color: #82E6FF;
  width: 75%;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 25px;
}

.mainBody h2 {
  color: #004047;
  font-style: italic;
  font-size: 20pt;
}

.mainBody h3 {
  color: #004047;
}

#quote-machine {
  background-image: url("../images/Quote.png");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 60px auto;
  overflow: hidden;
  padding: 10px 70px;
}

footer {
  display: inline-block;
  bottom: 0;
  margin-top: 100px;
  width: 100%;
  font-family: 'Bad Script';
  font-size: 16pt;
  text-align: right;
  color: #AAA;
}
