doctype html
html
    head
        title Words of Wisdom
        link(rel="icon" href="images/think.ico" alt="thinking icon")
        link(rel="stylesheet" href="css/styles.css")
    body
        h1 Words of Wisdom
        .buttonDiv
            a.btn(href="#") Click for Inspiration
        .mainBody
            #quote-machine
                h2 Press X to reload.
                h3 - Abraham Lincoln
        footer
            p Alec Armstrong            
   
               
    script(src="/js/jquery.min.js")
    script(src="/js/script.js")
        
            